  .socialIcon:hover {
  
    color: #1e24ba;
    border: 1px solid  #1e24ba;
    transition: .5s;
  }
  
  .link2{
    text-decoration: none;
    color: #ec8c84;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }
  
  .media{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2%;
  }

  .socialIcon {
    list-style: none;
    margin: 10px 10px;
    display: inline-block;
    font-size: 20px;
    padding: 12px 16px;
    border: 1px solid rgb(236, 183, 183);
    border-radius: 50%;
    transition: .5s;
  
  
  }
  
  .subheading {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
    text-align: center;

  }


    
  .wrapper{
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
    
 .contactIcon{
   list-style: none;
   padding: 10px;
   font-size: 20px;
 } 

 .faContact{
   margin-right: 7px;
   font-size: 9px;
 }


  
  .contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  /* tablet and desktop media query */
  @media screen and (min-width: 768px){

  .subheading {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 22px;
    text-align: center;
  
  }

      
  .socialIcon {
    list-style: none;
    display: inline-block;
    font-size: 17px;
    padding: 12px 16px;
    border: 1px solid rgb(236, 183, 183);
    border-radius: 50%;
    transition: .5s;
  
  
  }






  }