* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html {
    scroll-behavior: smooth;
  }
  
  
  .name {
    font-family: 'Playfair Display', serif;
    line-height: 1.0;   
  
  }
  
  .intro {
  font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-size: 19px;
  }
  
  .about {
    border : 1px solid #ec8c84;
    background-color: #ec8c84;
    font-family: 'orpheuspro', serif; 
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top:0px;

  
    
  }
  
  
  .aboutMe {
    position: relative;
    font-size: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
   
  
   
  }
  
  .parent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 150px;
   ;
  }
  
  .heading {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-size: 2.5rem;
    margin-top: 100px;
    margin-bottom:20px;
    
  }
  
  .projects{
    background-color: #ec8c84;
    font-family: 'orpheuspro', serif; 
    line-height: 1.4;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
  
  }
  
  .quizApp , .apiCapstone {
    margin-top: 80px;
    padding-right: 20px;
    padding-left: 20px;
  
  }
  
   
  .bold {
    font-weight: bold;
    
  }
  
  .paragraph{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
.live, .repo {
  display: inline;
}


.contact{ 
  background-color: #ec8c84;
  font-family: 'orpheuspro', serif; 
  min-height: 100vh;
  line-height: 1.4;
  color: #fff;
  border : 1px solid #ec8c84;
  margin-top: 0px;

}

.project-container{
  display: flex;
  flex-direction: column;
}

.option-container{
  display: inline;
}

.screenshot-container{
  display: inline;
}

.app-title{
  font-size: 20px;
  color: white;
}

/*tablet media query*/
@media screen and (min-width: 768px){
  .aboutMe {
    position: relative;
    font-size: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-right: 150px;
    margin-left:150px;
   
  
   
  }  

}

/*media query for desktop*/
@media screen and (min-width: 1025px) {

  .aboutMe {
    position: relative;
    font-size: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-right: 370px;
    margin-left:370px;
   
  
   
  } 



}