* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

html {
    scroll-behavior: smooth;
  }
  
  
  .name {
    font-family: 'Playfair Display', serif;
    line-height: 1.0;   
  
  }
  
  .intro {
  font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-size: 19px;
  }
  
  .about {
    border : 1px solid #ec8c84;
    background-color: #ec8c84;
    font-family: 'orpheuspro', serif; 
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-top:0px;

  
    
  }
  
  
  .aboutMe {
    position: relative;
    font-size: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
   
  
   
  }
  
  .parent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 150px;
   ;
  }
  
  .heading {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-size: 2.5rem;
    margin-top: 100px;
    margin-bottom:20px;
    
  }
  
  .projects{
    background-color: #ec8c84;
    font-family: 'orpheuspro', serif; 
    line-height: 1.4;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
  
  }
  
   
  .bold {
    font-weight: bold;
    
  }
  
  .paragraph{
    padding-top: 8px;
    padding-bottom: 8px;
  }

/* css for live and repo buttons */  
  
:root {
  --colorShadeA: #f07469;
  --colorShadeB: #e6746a;
  --colorShadeC: #ed9e97;
  --colorShadeD: #dd958f;
  --colorShadeE: #ffe0e0;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

.link{
  text-decoration: none;
  color: #f06b5f;
}


.option-container {
  font-family: 'OpenSans', sans-serif;
}
.live-button, .repo-button {
  display: inline;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin-bottom: 30px;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.0rem;
    color:var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
  
}

.live-button, .repo-button {
   padding: 0.2em 0.7em;
   border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
.live-button::before,.repo-button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
 transform: translate3d(0, 0.75em, -1em);
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
}


.live-button:hover, .repo-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

.live-button:hover::before, .repo-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

.live-button:active , .repo-button:active {
            transform: translate(0em, 0.75em);
}

.live-button:active::before , .repo-button:active::before{
  transform: translate3d(0, 0, -1em);
  
      box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);

}

.puppy-emoji {
  padding: 5px;
}

.contact{ 
  background-color: #ec8c84;
  font-family: 'orpheuspro', serif; 
  min-height: 100vh;
  line-height: 1.4;
  color: #fff;
  border : 1px solid #ec8c84;
  margin-top: 0px;

}

.project-container{
  display: flex;
  flex-direction: column;
}

.option-container{
  display: inline;
  padding:10px;
}

.screenshot-container{
  display: inline;
}

.app-title{
  font-size: 26px;
  color: white;
  padding:10px;
}

.app-description {
  font-size: 21px;
  padding:10px;


}

.app-tech{
  font-size: 18px;
  padding:10px;


}

.projects{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.Project-page-title{
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 30px;
}

.all-projects-container{

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 750px;
  align-items: center;
  margin: 0 auto;
}


.project-container{
  border : 1px solid white;
  border-radius: 1.0%;
  width:330px;
  margin-bottom: 20px;
 

 
}

.project-image{
  width: 100%;
  height: 200px;
}
/*tablet media query*/
@media screen and (min-width: 768px){
 
  .projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  
  }
  
  .all-projects-container{
  
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 750px;
    padding-top: 30px;
    margin: auto;

  }
  
  .intro {
    font-family: 'Roboto', sans-serif;
      line-height: 1.4;
      font-size: 27px;
    }
  
  .project-container{
    border : 1px solid white;
    border-radius: 1.0%;
    width:330px;
    margin-right: 20px;
    margin-left: 20px;
  
   
  }

  .aboutMe {
    position: relative;
    font-size: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-right: 150px;
    margin-left:150px;
   
  
   
  }  

}

/*media query for desktop*/
@media screen and (min-width: 1025px) {

 
.projects{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}
  
.intro {
  font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    font-size: 19px;
  }

.all-projects-container{

  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 750px;
  padding-top: 30px;
  margin: auto;
}


.project-container{
  border : 1px solid white;
  border-radius: 1.0%;
  width:330px;
  margin-right: 20px;
  margin-left: 20px;

 
}

  .aboutMe {
    position: relative;
    font-size: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
     margin-top: 50px;
     
    margin-right: 22%;
    margin-left:22%; 
   
  
   
  } 



}